{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About page</h3>
<p>
    Sidney Sheldon was a bestselling author of crime and thriller novels, in addition to writing Broadway plays and movies. He passed away in 2007, but his eighteen novels continue to find new readers every day, having sold more than 300 million copies worldwide. If you’re new to Sidney Sheldon and are wondering which book to pick up first, let Goodreads help you decide! This list ranks the top-rated Sidney Sheldon novels according to their average Goodreads user ratings.
</p>
</div>



{% endblock content %}
